
.navbar {
  background-color: #9d0000;
  color: #fff;
  padding: 10px;
  width: 100%;
  top: 0;
  text-align: left;
  padding-bottom: 40px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  
}

.list {
  margin-right: 15px;
  text-decoration:none;
  color: green;
  background: white;
}




